{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signal Demo2</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Signal Demo Application</h1>
        <p>Django application is set to demonstrate signal handling. Check the logs for details about the signal handling.</p>
        <a href="{% url 'create_model_instance' %}" class="btn">Create Model Instance</a>

    </div>
</body>
</html>
